body {
    padding: 10px;
    font-family: sans-serif;
}

.side-bar {
    color: black;
    width: 20%;
    display: inline;
}

.side-bar ul {
    list-style-type: none; 
    padding: 0;
}

.side-bar ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}
.side-bar ul li img {
   border-radius: 50%; 
   width: 30px;
   margin-right: 5px; 
}

.icon {
    margin-right: 10px; 
}

.main-section {
    width: 80%;
    display: flex;
}
.left-section{
    
    width : 70%;
}
.footer{
   
    width : 30%;
    
}

.container {
    display: flex;
    height: 100vh;
}
.story{
  height : 100px;

    align-items: center;
    display: flex;
    justify-content: space-between; 


}
.account img {
    width: 50px;
    border-radius: 50%;
}
.account{
    padding: 0;
}
.account li{

    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 10px;
    
}
.dot {
    height: 45px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
.account ul{
   padding:0;

}
.account-info {
    display: flex;
    
}
.account-info span {
    padding-left:10px;
}
.links{
    color:#0395f6;
}

.story div{
    padding: 10px;
    display: flex; 
    align-items: center; 
    flex-direction: column;

}

.story img{
    width: 70px;
    height: 70px;
    border: 2px solid #d301c5; 
    padding: 2px;
border-radius: 50%;
}

.post{
    background-color: blueviolet;
}
.footer-links a{
    font-weight: 100;
    text-decoration: none;
    color:#d2d2d2;
    padding: 10px;
    font-size: 14px;
}
.copyright{
    font-weight: 100;
    color:#d2d2d2;
    padding : 20px;
}
.suggestion{
    color:#8e8e8e;
}
.suggestion-links{
    color:black;
}