body {
    padding: 10px;
    font-family: sans-serif;
}

.side-bar {
    color: black;
    width: 30%;
    display: inline;
}

.side-bar ul {
    list-style-type: none; 
    padding: 0;
}

.side-bar ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}

.icon {
    margin-right: 10px; 
}

.main-section {
    background-color: aqua;
    width: 70%;
    display: inline;
}

.container {
    display: flex;
    height: 100vh;
}
