body {
    padding: 10px;
    font-family: sans-serif;
}

.side-bar {
    color: black;
    width: 15%;
    display: inline;
    position: fixed; 
    top: 0;
    left: 0;
    padding-left: 30px;
    height: 100vh; 
    overflow-y: auto; 
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    
}

.side-bar ul {
    list-style-type: none; 
    padding: 0;
}

.side-bar ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}
.side-bar ul li img {
   border-radius: 50%; 
   width: 30px;
   margin-right: 5px; 
}

.icon {
    margin-right: 10px; 
}

.main-section {
    width: 80%;
    display: flex;
    margin-left: 18%;


}
.left-section{
    width : 70%;
}
.footer{
    width : 30%;
    
}

.container {
    display: flex;
    height: 100vh;
}
.story{
    height : 100px;
    align-items: center;
    display: flex;
    justify-content: space-between; 
}
.account img {
    width: 50px;
    border-radius: 50%;
}
.card-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
}
.selected-card-img{
    border: 2px solid #d301c5; 
  
}


.card-title{
   padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0;
}
.card-title span{
    padding-left: 10px;;
}
.account{
    padding: 0;
}
.account li{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 10px;
}
.dot {
    height: 45px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.account ul{
   padding:0;
}
.account-info {
    display: flex;
}
.account-info span {
    padding-left:10px;
}
.links{
    color:#0395f6;
}

.story div{
    padding: 10px;
    display: flex; 
    align-items: center; 
    flex-direction: column;
}

.story img{
    width: 70px;
    height: 70px;

    padding: 2px;
    border-radius: 50%;
}
.story-seen{
    border: 2px solid #a19b9b; 
}
.story-unseen{
    border: 2px solid #d301c5; 
}
.story-text-seen{
    color:#a19b9b;
}

.post{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;

}
.footer-links a{
    font-weight: 100;
    text-decoration: none;
    color:#d2d2d2;
    padding: 10px;
    font-size: 14px;
}
.copyright{
    font-weight: 100;
    color:#d2d2d2;
    padding : 20px;
}
.suggestion{
    color:#8e8e8e;
}
.suggestion-links{
    color:black;
}
.card{
    align-items: center;
    padding: 20px;
}
.card-post {
    width: 500px;
    height: 500px;

}
.card-title div {
    display: flex;
    align-items: center;
}
.interactions svg{
    padding-left: 5px;
    padding-right: 5px;
}
.interactions{
    display: flex; 
    justify-content: space-between;
}
